.top-buffer {
    margin-top: 20px;
}

.article-snippet {
    padding-bottom: 15px;
}

.row {
    border: 0px solid;
    background-color: #303030;
}

#search-box {
    margin-top: 30px;
}

#bottom-padding {
    margin-bottom: 30px;
}

.searchmatch {
    color: #d9534f;
}
